{% extends 'user_home.html' %}
{% load static %}
{% block title %} Список заказов {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block bg %} g-sidenav-show {% endblock %}

{% block body %}
<div class="user-bg">
    {% include "user_panel.html" %}

    <nav class="user-main navbar navbar-main navbar-expand-lg shadow-none border-radius-xl">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm"><a class="breadcrumb-opacity text-dark" href="{% url 'base' %">Главная</a></li>
                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Просмотр профиля</li>
                </ol>
            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4 justify-content-end" id="navbar">
                <div class="ms-md-auto d-none d-xl-flex px-2 d-flex align-items-center">
                    <a href="{% url 'base' %}">
                        <i class="fas fa-home text-dark"></i>
                        <span class="d-sm-inline d-none text-dark">Главная</span>
                    </a>
                </div>
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item px-2 d-none d-xl-flex d-flex align-items-center">
                        <a href="{% url 'home'}">
                            <i class="fas fa-store text-dark"></i>
                            <span class="d-sm-inline d-none text-dark">Магазин</span>
                        </a>
                    </li>
                    <li class="nav-item px-2 d-none d-xl-flex d-flex align-items-center">
                        <a href="{% url 'user_index' %}" class="nav-link text-body font-weight-bold px-0">
                            <i class="fa fa-user me-sm-1"></i>
                            <span class="d-sm-inline d-none">Профиль</span>
                        </a>
                    </li>
                    <li class="nav-item d-xl-none ps-3 d-flex">
                        <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                        </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="user-main min-height-100 border-radius-lg">
        <div class="container-fluid text-center">
            <div class="mx-3 mx-md-4 mt-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-body order-card-h100">
                            <div class="user-details">
                                <div class="section-title">
                                    <h3 class="title">Список заказов</h3>
                                </div>
                            </div>
                            <table class="table-s table-striped user-table">
                                <tr>
                                    <th class="text-left">№ </th>
                                    <th class="text-left">Код заказа </th>
                                    <th class="text-left">Сумма </th>
                                    <th class="text-left">Статус </th>
                                    <th class="text-left ">Дата </th>
                                    <th class="text-left">Детали </th>
                                </tr>
                                
                                {% for rs in orders %}
                                    
                                    <tr>
                                        <td class="text-left">{{ rs.id }} </td>
                                        <td class="text-left">{{ rs.code }} </td>
                                        <td class="text-left">{{ rs.total }} </td>
                                        <td class="text-left">{{ rs.get_status_display }} </td>
                                        <td class="text-left">{{ rs.create_at }} </td>
                                        <td class="text-left"><a class="primary-btn" href="/user/orderdetail/{{ rs.id }}">Подробнее </a></td>
                                    </tr>
                                {% endfor %} 
                            </table>
                            <div class="d-md-none user-table-mobile ">
                                {% for rs in orders %}

                                    <nav class="navbar navbar-light bg-light">
                                        <a class="navbar-brand d-flex flex-wrap" href="/user/orderdetail/{{ rs.id }}">
                                            <div class="px-1">
                                                Заказ {{ rs.code }} <i class="fa-solid fa-angles-right"></i>
                                            </div>
                                            <div class="px-1">
                                                {{ rs.create_at }} <i class="fa-solid fa-angles-right"></i> 
                                            </div>
                                            <div>
                                                {{ rs.get_status_display }}
                                            </div>
                                        </a>
                                        
                                        <div>
                                            <a href="/user/orderdetail/{{ rs.id }}">Подробнее</a>
                                        </div>
                                    </nav>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

{% endblock %}